body {
    font-family: "Urbanist";
    background-color: rgb(40, 75, 143);
    margin-left: 75px;
}

.divname {
    /* font-family: "Droid Sans Mono", monospace; */
    font-size: 35px;
    display: flex;
    color: white;
    justify-content: left;
    margin-top: 300px;
    margin-bottom: -40px;
    text-align: left;
}

.divposition {
    /* font-family: "DM Sans", Arial, sans-serif; */
    font-size: 75px;
    color: white;
    justify-content: left;
    text-align: left;
}

.locationimg {
    color: white;
    width: 45px;
    height: 45px;
    padding-top: 20px;
    margin: 0 10px;
}

#locationtext {
    color: white;
    /* font-family: "DM Sans", Arial, sans-serif; */
    font-size: 40px;
    margin-left: 10px;
}