body 
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #FAF9F6;
  font-size: 24px;
  line-height: 37px;
  padding: 40px;
}

.introduction, .discipline, .design, .deepwork, .culmination, .headhome
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.introduction h2 
{
  align-self: flex-start;
  text-align: left; 
}

.discipline h3, .design h3, .deepwork h3, .culmination h3
{
  align-self: flex-start;
  text-align: left;
}

.introduction h5
{
  align-self: flex-start;
  text-align: left;
}

a, a:visited 
{
  text-decoration: none; 
  color: inherit; 
}