body 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #FAF9F6;
    font-size: 24px;
    line-height: 34px;
    padding: 40px;
}

.introduction, .experience, .freetime, .outsideofcode 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.icon-container 
{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.icon-container a.github img, 
.icon-container a.linkedin img 
{
    width: 40px;
    height: 40px;
    padding-top: 20px;
    margin: 0 10px;
}

a, a:visited 
{
    text-decoration: none; 
    color: inherit; 
}

@media screen and (max-width: 768px) {
    .icon-container a.github img, 
    .icon-container a.linkedin img {
      width: 30px;
      height: 30px;
    }
  }